Repository openstack/tripleo-ci: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-build-containers-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, openstack-tox-pep8, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

tripleo-build-containers-centos-7:
  parent: tripleo-ci-base-singlenode
  pre-run:
  - playbooks/tripleo-buildcontainers/pre.yaml
  run: playbooks/tripleo-buildcontainers/run.yaml
  post-run: playbooks/tripleo-buildcontainers/post.yaml
  timeout: 7200
  nodeset: single-centos-7-node
  voting: true
  required-projects:
  ...

tripleo-buildimage-ironic-python-agent-centos-7:
  parent: tripleo-ci-base-singlenode
  run: playbooks/tripleo-buildimage/run-v3.yaml
  post-run: playbooks/tripleo-buildimage/post.yaml
  timeout: 4200
  nodeset: single-centos-7-node
  required-projects:
  - git.openstack.org/openstack/diskimage-builder
  - git.openstack.org/openstack/heat-agents
  ...

tripleo-buildimage-overcloud-full-centos-7:
  parent: tripleo-ci-base-singlenode
  run: playbooks/tripleo-buildimage/run-v3.yaml
  post-run: playbooks/tripleo-buildimage/post.yaml
  timeout: 4200
  nodeset: single-centos-7-node
  required-projects:
  - git.openstack.org/openstack/diskimage-builder
  - git.openstack.org/openstack/heat-agents
  ...

tripleo-buildimage-overcloud-hardened-full-centos-7:
  parent: tripleo-ci-base-singlenode
  run: playbooks/tripleo-buildimage/run-v3.yaml
  post-run: playbooks/tripleo-buildimage/post.yaml
  timeout: 4200
  nodeset: single-centos-7-node
  required-projects:
  - git.openstack.org/openstack/diskimage-builder
  - git.openstack.org/openstack/heat-agents
  ...

tripleo-ci-centos-7-standalone:
  parent: tripleo-ci-base-standalone
  nodeset: single-centos-7-node
  branches: ^(?!stable/(newton|ocata|pike|queens)).*$
  vars:
    featureset: '052'

tripleo-ci-fedora-28-standalone:
  parent: tripleo-ci-base-standalone
  nodeset: single-fedora-28-node
  voting: false
  branches: ^(?!stable/(newton|ocata|pike|queens|rocky)).*$
  vars:
    environment_type: standalone
    featureset: '052'

tripleo-ci-centos-7-standalone-upgrade:
  parent: tripleo-ci-base-standalone
  nodeset: single-centos-7-node
  voting: false
  branches: ^(?!stable/(newton|ocata|pike|queens|rocky)).*$
  vars:
    featureset: '056'
    playbooks:
    - quickstart.yml
    - multinode-standalone.yml
    - multinode-standalone-upgrade.yml
    tags:
    - standalone
    extra_tags:
  ...

tripleo-ci-centos-7-scenario001-standalone:
  voting: true
  parent: tripleo-ci-base-standalone
  nodeset: single-centos-7-node
  branches: ^(?!stable/(newton|ocata|pike|queens|rocky)).*$
  vars:
    featureset: '052'
    standalone_ceph: true
    featureset_override:
      standalone_container_cli: docker
      standalone_environment_files:
  ...

tripleo-ci-centos-7-scenario002-standalone:
  voting: true
  parent: tripleo-ci-base-standalone
  nodeset: single-centos-7-node
  branches: ^(?!stable/(newton|ocata|pike|queens|rocky)).*$
  vars:
    featureset: '052'
    featureset_override:
      standalone_container_cli: docker
      standalone_environment_files:
      - environments/low-memory-usage.yaml
  ...

Unset dns variables for OVB
  toci-quickstart/config/testenv/ovb-rdocloud.yml
  toci-quickstart/config/testenv/ovb-vexxhost.yml
  toci-quickstart/config/testenv/ovb.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Parameterize build-containers job to allow push to registry
  playbooks/tripleo-buildcontainers/defaults/main.yaml
  playbooks/tripleo-buildcontainers/run.yaml
  playbooks/tripleo-buildcontainers/templates/kolla-build.conf.j2
Due: tripleo-build-containers-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Run scenario 1-4 standalones for changes in tripleo-ci roles
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Fix log collection for directory
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add new base for containers-build and periodic without files:
  zuul.d/base.yaml
  zuul.d/build-containers.yaml
Due: tripleo-build-containers-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Adding scenario012 standalone job
  zuul.d/layout.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Remove the container cli override for standalone scenario 1-3
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Temporary disable scenarios 1+4 standalone for ceph bluestore
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

kolla-build: remove quotes in namespace config
  playbooks/tripleo-buildcontainers/templates/kolla-build.conf.j2
Due: tripleo-build-containers-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Make build-containers job definition reusable
  zuul.d/base.yaml
  zuul.d/build-containers.yaml
Due: tripleo-build-containers-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Add LVM option for ceph-loop-device role
  roles/ceph-loop-device/README.rst
  roles/ceph-loop-device/defaults/main.yml
  roles/ceph-loop-device/tasks/main.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove redundant logs collection for non-ovb
  playbooks/tripleo-ci/post.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

turn off perf mont in upstream
  toci-quickstart/config/testenv/multinode.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Revert "Temporary disable scenarios 1+4 standalone for ceph bluestore"
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Removing queens and pike from the negative match for ceph-loop role
  roles/ceph-loop-device/tasks/main.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

clean up the doc footer in tripleo jobs
  docs/tripleo-quickstart-logs.html
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add cloudenv variable
  toci-quickstart/config/testenv/multinode-rdocloud.yml
  toci-quickstart/config/testenv/multinode.yml
  toci-quickstart/config/testenv/ovb-rdocloud.yml
  toci-quickstart/config/testenv/ovb-vexxhost.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Populate bindep.txt
  bindep.txt
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Fix typo in logs
  docs/tripleo-quickstart-logs.html
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Don't generate ARA htmls in upstream jobs
  toci-quickstart/config/testenv/multinode.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Create a new container build job with Buildah on centos7
  playbooks/tripleo-buildcontainers/defaults/main.yaml
  playbooks/tripleo-buildcontainers/post.yaml
  playbooks/tripleo-buildcontainers/pre.yaml
  playbooks/tripleo-buildcontainers/run.yaml
  zuul.d/build-containers.yaml
Due: tripleo-build-containers-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Collect additional logs
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add override_repos into tripleo-ci tripleo-repos role
  playbooks/tripleo-buildcontainers/defaults/main.yaml
  playbooks/tripleo-buildcontainers/post.yaml
  playbooks/tripleo-buildcontainers/pre.yaml
  roles/tripleo-repos/defaults/main.yml
  roles/tripleo-repos/tasks/main.yml
Due: tripleo-build-containers-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Improve file patterns used to trigger buildcontainers
  zuul.d/base.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

fix stackwiz link, and nit
  docs/tripleo-quickstart-logs.html
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add a blank baremetal_hosts file and skip_tags options
  roles/common/vars/main.yaml
  roles/run-test/templates/toci_quickstart.sh.j2
  toci-quickstart/config/testenv/baremetal_hosts
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Improve tox usage for development
  tox.ini
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7

Add py3/f28 support to tripleo-container-build-base
  playbooks/tripleo-buildcontainers/pre.yaml
  playbooks/tripleo-buildcontainers/run.yaml
  playbooks/tripleo-buildcontainers/templates/kolla-build.conf.j2
  playbooks/tripleo-buildcontainers/vars/common.yaml
  roles/run-test/templates/toci_gate_test.sh.j2
  roles/tripleo-repos/defaults/main.yml
  roles/tripleo-repos/tasks/main.yml
  zuul.d/layout.yaml
Due: tripleo-build-containers-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Collect /var/lib/container-puppet
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

ovb/CI: force ContainerCli to Docker
  toci-quickstart/config/testenv/ovb.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add missing tht database files for scenario standalones 1/2/4
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Create two loop devices for bluestore and filestore
  roles/ceph-loop-device/README.rst
  roles/ceph-loop-device/defaults/main.yml
  roles/ceph-loop-device/tasks/main.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Adds retag with version hash for periodic container builds
  playbooks/tripleo-buildcontainers/run.yaml
  playbooks/tripleo-buildcontainers/tag.yaml
  playbooks/tripleo-buildcontainers/templates/kolla-build.conf.j2
Due: tripleo-build-containers-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Run atop in light mode in upstream
  toci-quickstart/config/testenv/multinode-rdocloud.yml
  toci-quickstart/config/testenv/multinode.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Collect os_tempest files from tempest directory
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

add config and hieradata links
  docs/tripleo-quickstart-logs.html
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add timestamp to containers' build log
  playbooks/tripleo-buildcontainers/run.yaml
  playbooks/tripleo-buildcontainers/vars/common.yaml
Due: tripleo-build-containers-centos-7, tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

clean up base log dir
  roles/run-test/templates/oooq_common_functions.sh.j2
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Use Docker v2 registry mirrors from Opendev infra
  roles/run-test/templates/common_vars.bash.j2
  scripts/common_vars.bash
  toci-quickstart/config/testenv/multinode.yml
  toci-quickstart/config/testenv/ovb.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

fix typo in doc link rows
  docs/tripleo-quickstart-logs.html
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Path conditions:
  tripleo-build-containers-centos-7: (any of: ^playbooks/tripleo-buildcontainers/.*$, zuul.d/build-containers.yaml, ^container-images/.*$, ^tripleo_common/image/.*$, ^tripleoclient/v1/container.*$) and (unless all of: ^.*\.rst$, ^releasenotes/.*$)
  tripleo-buildimage-ironic-python-agent-centos-7: unless all of: ^.*\.rst$, ^releasenotes/.*$
  tripleo-buildimage-overcloud-full-centos-7: unless all of: ^.*\.rst$, ^releasenotes/.*$
  tripleo-buildimage-overcloud-hardened-full-centos-7: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-tox-py27: any of: ^scripts/emit_releases_file/.*$
  openstack-tox-py35: any of: ^scripts/emit_releases_file/.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  openstack-tox-pep8: any of: ^scripts/emit_releases_file/.*$
  tripleo-ci-centos-7-standalone: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-fedora-28-standalone: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-centos-7-standalone-upgrade: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-centos-7-scenario001-standalone: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, workbooks/ceph-ansible.yaml, tripleo_common/actions/ansible.py, ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/logging.*$, ^manifests/profile/(base|pacemaker)/metrics.*$, ^manifests/profile/(base|pacemaker)/monitoring.*$, ^manifests/profile/(base|pacemaker)/panko.*$, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario002-standalone: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, workbooks/ceph-ansible.yaml, tripleo_common/actions/ansible.py, ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/barbican.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/nova/ec2.*$, ^manifests/profile/(base|pacemaker)/panko.*$, ^manifests/profile/(base|pacemaker)/swift.*$, ^manifests/profile/(base|pacemaker)/zaqar.*$
  tripleo-ci-centos-7-scenario003-standalone: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, ^(docker|puppet)/services/.*designate.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/mistral.*$, ^manifests/profile/(base|pacemaker)/sahara.*$, ^manifests/profile/(base|pacemaker)/designate.*$
  tripleo-ci-centos-7-scenario004-standalone: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py, tripleo_common/image/kolla_builder.py, zuul.d/layout.yaml, ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/manila.*$
