Repository openstack/tripleo-ci: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario012-multinode-oooq-container, openstack-tox-pep8, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Path conditions:
  tripleo-buildimage-ironic-python-agent-centos-7: (unless all of: ^.*\.rst$, ^releasenotes/.*$) or (any of: ^playbooks/tripleo-buildimages/.*$, ^roles/oooci-build-images/.*$)
  tripleo-buildimage-overcloud-full-centos-7: (unless all of: ^.*\.rst$, ^releasenotes/.*$) or (any of: ^playbooks/tripleo-buildimages/.*$, ^roles/oooci-build-images/.*$)
  tripleo-buildimage-overcloud-hardened-full-centos-7: (unless all of: ^.*\.rst$, ^releasenotes/.*$) or (any of: ^playbooks/tripleo-buildimages/.*$, ^roles/oooci-build-images/.*$)
  openstack-tox-py27: (any of: ^bindep.txt$, ^requirements.txt$, ^scripts/emit_releases_file/.*$, ^setup.cfg$, ^setup.py$, ^tox.ini$) or (any of: ^scripts/emit_releases_file/.*$)
  openstack-tox-py35: (any of: ^bindep.txt$, ^requirements.txt$, ^scripts/emit_releases_file/.*$, ^setup.cfg$, ^setup.py$, ^tox.ini$) or (any of: ^scripts/emit_releases_file/.*$)
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario012-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  openstack-tox-pep8: any of: ^scripts/emit_releases_file/.*$
  tripleo-ci-centos-7-standalone: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-fedora-28-standalone: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-centos-7-standalone-upgrade: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-centos-7-scenario001-standalone: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, workbooks/ceph-ansible.yaml, tripleo_common/actions/ansible.py, ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/logging.*$, ^manifests/profile/(base|pacemaker)/metrics.*$, ^manifests/profile/(base|pacemaker)/monitoring.*$, ^manifests/profile/(base|pacemaker)/panko.*$, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario002-standalone: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, workbooks/ceph-ansible.yaml, tripleo_common/actions/ansible.py, ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/barbican.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/nova/ec2.*$, ^manifests/profile/(base|pacemaker)/panko.*$, ^manifests/profile/(base|pacemaker)/swift.*$, ^manifests/profile/(base|pacemaker)/zaqar.*$
  tripleo-ci-centos-7-scenario003-standalone: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, ^(docker|puppet)/services/.*designate.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/mistral.*$, ^manifests/profile/(base|pacemaker)/sahara.*$, ^manifests/profile/(base|pacemaker)/designate.*$
  tripleo-ci-centos-7-scenario004-standalone: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py, tripleo_common/image/kolla_builder.py, zuul.d/layout.yaml, ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/manila.*$

Move buildimages playbook tasks from config to tripleo
  roles/oooci-build-images/tasks/main.yaml
  roles/oooci-build-images/tasks/pre.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Make standalone-10 temp non-voting while fix merges
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

tripleo-ci-fedora-28-standalone job is deprecated
  zuul.d/deprecated-jobs.yaml
  zuul.d/multinode-jobs.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

[RHEL8] exclude collectd from build-containers role
  roles/build-containers/vars/common.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Revert "Make standalone-10 temp non-voting while fix merges"
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Add tobiko directories to collected logs
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Move scenario007-standalone job to os_tempest
  roles/run-test/tasks/main.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Let logs server to generate ARA report in RDO jobs
  toci-quickstart/config/testenv/ovb.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove metadata file exposure
  roles/run-test/templates/toci_gate_test.sh.j2
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Revert "[RHEL8] exclude collectd from build-containers role"
  roles/build-containers/vars/common.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Increase retries to get dlrn repo in emit_releases file
  scripts/emit_releases_file/emit_releases_file.py
  scripts/emit_releases_file/test_get_dlrn_hash.py
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35, openstack-tox-pep8, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Fixed grab kolla patch rhel8 task for check job
  roles/build-containers/tasks/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Run scenario 001 or 004 for changes to Ceph deployment manifests
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Collect relevant files related to tempest
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Use proxy when retrieving delorean file from RDO
  scripts/emit_releases_file/emit_releases_file.py
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35, openstack-tox-pep8, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Fix dumping variables when no featureset is defined
  roles/common/vars/main.yaml
  zuul.d/base.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

New vexxhost CI settings
  roles/common/vars/main.yaml
  scripts/te-broker/create-env
  scripts/te-broker/start_workers.sh
  toci-quickstart/config/testenv/ovb-vexxhost.yml
  toci_gate_test.sh
  toci_quickstart.sh
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Move centos 7 buildah jobs to non-voting
  zuul.d/build-containers.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Assure log filename is visible in ansible output of build image
  roles/build-containers/tasks/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Introduce arch aware tag for container images
  roles/build-containers/defaults/main.yaml
  roles/build-containers/tasks/main.yaml
  roles/build-containers/tasks/tag.yaml
  roles/build-containers/templates/kolla-build.conf.j2
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Make periodic job run with check parameters
  zuul.d/periodic.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Configure ovb jobs to use ansible 2.8
  zuul.d/base.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Nuke f28 job/nodeset definitions
  zuul.d/deprecated-jobs.yaml
  zuul.d/nodesets.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Remove pike multinode jobs
  zuul.d/deprecated-jobs.yaml
  zuul.d/multinode-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Disable voting on container-updates until 678695 is merged
  zuul.d/multinode-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Removed fedora28-master from molecule testing
  roles/tripleo-repos/molecule/default/molecule.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add failover NTP servers to OVB in vexxhost
  toci-quickstart/config/testenv/ovb-vexxhost.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove fetch-zuul-cloner workaround
  roles/common/tasks/main.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add test_snapshot_pattern to scenario001 tempest whitelist
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Revert "Disable voting on container-updates until 678695 is merged"
  zuul.d/multinode-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Exclude tobiko cache directory from logs
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove scenario009-multinode-oooq-container job from master
  zuul.d/layout.yaml
  zuul.d/multinode-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Use Ansible 2.8 on tripleo-ci-base
  zuul.d/base.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Revert "Move centos 7 buildah jobs to non-voting"
  zuul.d/build-containers.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Copy repo file in tripleo-repos role
  roles/oooci-build-images/tasks/post.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Added back tempest.html and remove .stestr in logs
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Tolerate None featureset_override
  roles/run-test/tasks/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

collect-logs: don't hardcode 'undercloud' for artifacts
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add no_log to skip long list of files
  roles/build-containers/tasks/post.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Reduce jobs by optimization of irrelevant files
  zuul.d/multinode-jobs.yaml
  zuul.d/undercloud-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone
