Repository openstack/tripleo-ci: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario012-multinode-oooq-container, openstack-tox-pep8, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Path conditions:
  tripleo-buildimage-ironic-python-agent-centos-7: (unless all of: ^.*\.rst$, ^releasenotes/.*$) or (any of: ^playbooks/tripleo-buildimages/.*$, ^roles/oooci-build-images/.*$)
  tripleo-buildimage-overcloud-full-centos-7: (unless all of: ^.*\.rst$, ^releasenotes/.*$) or (any of: ^playbooks/tripleo-buildimages/.*$, ^roles/oooci-build-images/.*$)
  tripleo-buildimage-overcloud-hardened-full-centos-7: (unless all of: ^.*\.rst$, ^releasenotes/.*$) or (any of: ^playbooks/tripleo-buildimages/.*$, ^roles/oooci-build-images/.*$)
  openstack-tox-py27: (any of: ^bindep.txt$, ^requirements.txt$, ^scripts/emit_releases_file/.*$, ^setup.cfg$, ^setup.py$, ^tox.ini$) or (any of: ^scripts/emit_releases_file/.*$)
  openstack-tox-py35: (any of: ^bindep.txt$, ^requirements.txt$, ^scripts/emit_releases_file/.*$, ^setup.cfg$, ^setup.py$, ^tox.ini$) or (any of: ^scripts/emit_releases_file/.*$)
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario012-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  openstack-tox-pep8: any of: ^scripts/emit_releases_file/.*$
  tripleo-ci-centos-7-standalone: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-fedora-28-standalone: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-centos-7-standalone-upgrade: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-centos-7-scenario001-standalone: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, workbooks/ceph-ansible.yaml, tripleo_common/actions/ansible.py, ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/logging.*$, ^manifests/profile/(base|pacemaker)/metrics.*$, ^manifests/profile/(base|pacemaker)/monitoring.*$, ^manifests/profile/(base|pacemaker)/panko.*$, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario002-standalone: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, workbooks/ceph-ansible.yaml, tripleo_common/actions/ansible.py, ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/barbican.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/nova/ec2.*$, ^manifests/profile/(base|pacemaker)/panko.*$, ^manifests/profile/(base|pacemaker)/swift.*$, ^manifests/profile/(base|pacemaker)/zaqar.*$
  tripleo-ci-centos-7-scenario003-standalone: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, ^(docker|puppet)/services/.*designate.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/mistral.*$, ^manifests/profile/(base|pacemaker)/sahara.*$, ^manifests/profile/(base|pacemaker)/designate.*$
  tripleo-ci-centos-7-scenario004-standalone: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py, tripleo_common/image/kolla_builder.py, zuul.d/layout.yaml, ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/manila.*$

Reenable ARA html generation from collect logs
  toci-quickstart/config/testenv/multinode.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Run build containers on rocky branch
  zuul.d/build-containers.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Fallback to public IPv4 when there is no priv. IP
  playbooks/openstack-zuul-jobs/legacy/pre.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

move standalone-scenario010 to non-voting
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Added support for train for emit release file
  scripts/emit_releases_file/emit_releases_file.py
  scripts/emit_releases_file/test_release_name.py
  scripts/oooq_common_functions.sh
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35, openstack-tox-pep8, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

ovb: overrides deploy timeout from 90 to 120
  toci-quickstart/config/testenv/ovb.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Use tempest_cloud_name in featureset_override
  roles/run-test/tasks/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Revert "move standalone-scenario010 to non-voting"
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Retag w/ _arch suffix rhel8 container images
  roles/build-containers/tasks/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

add certmonger to logs to debug ssl issues
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Attempt to fix slow cleanup of cached files
  toci_gate_test.sh
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Disable octavia multinode on n > stein
  zuul.d/multinode-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Ignore error when /opt/git does not exist
  roles/run-test/templates/toci_gate_test.sh.j2
  toci_gate_test.sh
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

fixed linters
  .pre-commit-config.yaml
  tox.ini
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Skip retag/push w/ _arch suffix for rhel8/podman
  roles/build-containers/tasks/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Fix rhel8 deps repo for buildimage oc
  roles/oooci-build-images/tasks/pre.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove instackenv.json file from logs
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Don't collect Tobiko subunit results files
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

make sure we collect config-data from the original dir
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

featureset_override is a dict not a bool
  roles/run-test/tasks/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Added train jobs
  zuul.d/build-containers.yaml
  zuul.d/layout.yaml
  zuul.d/multinode-jobs.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Periodic jobs for branches
  zuul.d/multinode-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Avoid execution failure when mirror_info.sh is missing
  roles/run-test/templates/toci_gate_test.sh.j2
  toci_gate_test.sh
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove scenario012 multinode job
  zuul.d/layout.yaml
  zuul.d/multinode-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Change featurset for octavia standalone to support full tempest
  zuul.d/multinode-jobs.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Set rhcloud provider settings for reproducer
  roles/common/vars/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Make scenario007-standalone vote + gate standalone-scenarios-full
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Add /toci-quickstart/config/testenv settings for vexxhost
  toci-quickstart/config/testenv/multinode-vexxhost.yml
  toci-quickstart/config/testenv/singlenode-vexxhost.yml
  toci-quickstart/config/testenv/standalone-vexxhost.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Turn on debugging for image builds
  roles/oooci-build-images/templates/build-images.sh.j2
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Fix rhel8 build containers for patch and periodic
  roles/build-containers/tasks/main.yaml
  roles/build-containers/vars/common.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Allow to specify custom version_hash
  roles/build-containers/tasks/main.yaml
  roles/common/vars/main.yaml
  roles/run-test/tasks/main.yaml
  roles/run-test/templates/common_vars.bash.j2
  roles/run-test/templates/role-vars.j2
  roles/run-test/templates/toci_quickstart.sh.j2
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove all prepopulated repos on base image
  roles/build-containers/templates/Dockerfile.j2
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Rename delorean deps repo according to new name
  roles/oooci-build-images/tasks/pre.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

lint: maintenance chore
  .pre-commit-config.yaml
  requirements.txt
  roles/build-containers/tasks/post.yaml
  roles/build-containers/tasks/tag.yaml
  roles/build-containers/templates/Dockerfile.j2
  roles/oooci-build-images/tasks/pre.yaml
  roles/run-test/tasks/main.yaml
  roles/tripleo-repos/handlers/main.yml
  roles/tripleo-repos/tests/inventory
  roles/tripleo-repos/tests/test.yml
  roles/tripleo-repos/vars/main.yml
  scripts/delete-ovb-cloud.sh
  scripts/proxy-server/proxy-server.pp
  scripts/te-broker/geard.service
  scripts/te-broker/te-broker.pp
  scripts/te-broker/te-broker.sh
  scripts/te-broker/te_workers.service
  test-environments/inject-trust-anchor-hiera.yaml
  test-environments/ips-from-pool-all.yaml
  test-environments/ipv6-network-templates/ui-settings.pickle
  test-environments/network-templates/ui-settings.pickle
  test-requirements.txt
  tox.ini
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Move vars/common.yaml to main.yaml for buildimages and containers
  roles/build-containers/tasks/main.yaml
  roles/build-containers/tasks/post.yaml
  roles/build-containers/tasks/pre.yaml
  roles/build-containers/vars/main.yaml
  roles/oooci-build-images/tasks/main.yaml
  roles/oooci-build-images/tasks/pre.yaml
  roles/oooci-build-images/vars/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add component_ci_containers in build-containers for component ci
  roles/build-containers/defaults/main.yaml
  roles/build-containers/tasks/main.yaml
  roles/build-containers/templates/build.sh.j2
  roles/build-containers/templates/component_ci/compute_overcloud_containers.yaml
  roles/build-containers/vars/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

do not log rhui info
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add healthchecks to container builds
  zuul.d/base.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Allow override disable/enable paunch in featureset
  roles/run-test/tasks/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Added /etc/rear directory to be collected
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade
