Repository openstack/tripleo-ci: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario012-multinode-oooq-container, openstack-tox-pep8, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

tripleo-buildimage-ironic-python-agent-centos-7:
  parent: tripleo-ci-base-singlenode
  run: playbooks/tripleo-buildimage/run-v3.yaml
  post-run: playbooks/tripleo-buildimage/post.yaml
  timeout: 4200
  nodeset: single-centos-7-node
  required-projects:
  - opendev.org/openstack/diskimage-builder
  - opendev.org/openstack/heat-agents
  ...

tripleo-buildimage-overcloud-full-centos-7:
  parent: tripleo-ci-base-singlenode
  run: playbooks/tripleo-buildimage/run-v3.yaml
  post-run: playbooks/tripleo-buildimage/post.yaml
  timeout: 4200
  nodeset: single-centos-7-node
  required-projects:
  - opendev.org/openstack/diskimage-builder
  - opendev.org/openstack/heat-agents
  ...

tripleo-buildimage-overcloud-hardened-full-centos-7:
  parent: tripleo-ci-base-singlenode
  run: playbooks/tripleo-buildimage/run-v3.yaml
  post-run: playbooks/tripleo-buildimage/post.yaml
  timeout: 4200
  nodeset: single-centos-7-node
  required-projects:
  - opendev.org/openstack/diskimage-builder
  - opendev.org/openstack/heat-agents
  ...

tripleo-ci-centos-7-standalone:
  parent: tripleo-ci-base-standalone
  nodeset: single-centos-7-node
  branches: ^(?!stable/(newton|ocata|pike|queens)).*$
  vars:
    featureset: '052'

tripleo-ci-fedora-28-standalone:
  parent: tripleo-ci-base-standalone
  nodeset: single-fedora-28-node
  voting: false
  branches: ^(?!stable/(newton|ocata|pike|queens|rocky)).*$
  vars:
    environment_type: standalone
    featureset: '052'

tripleo-ci-centos-7-standalone-upgrade:
  parent: tripleo-ci-base-standalone
  nodeset: single-centos-7-node
  voting: false
  branches: ^(?!stable/(newton|ocata|pike|queens|rocky)).*$
  vars:
    featureset: '056'
    playbooks:
    - quickstart.yml
    - multinode-standalone.yml
    - multinode-standalone-upgrade.yml
    tags:
    - standalone
    extra_tags:
  ...

tripleo-ci-centos-7-scenario001-standalone:
  voting: true
  parent: tripleo-ci-base-standalone
  nodeset: single-centos-7-node
  branches: ^(?!stable/(newton|ocata|pike|queens|rocky)).*$
  vars:
    featureset: '052'
    standalone_ceph: true
    featureset_override:
      standalone_container_cli: docker
      standalone_environment_files:
  ...

tripleo-ci-centos-7-scenario002-standalone:
  voting: true
  parent: tripleo-ci-base-standalone
  nodeset: single-centos-7-node
  branches: ^(?!stable/(newton|ocata|pike|queens|rocky)).*$
  vars:
    featureset: '052'
    featureset_override:
      standalone_container_cli: docker
      standalone_environment_files:
      - environments/low-memory-usage.yaml
  ...

tripleo-ci-centos-7-scenario003-standalone:
  voting: false
  parent: tripleo-ci-base-standalone
  nodeset: single-centos-7-node
  branches: ^(?!stable/(newton|ocata|pike|queens|rocky)).*$
  vars:
    featureset: '052'
    featureset_override:
      standalone_environment_files:
      - environments/low-memory-usage.yaml
  ...

fix cp command in pre.yaml for tripleo
  roles/prepare-node/tasks/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

OpenDev Migration Patch 2
  README.rst
  playbooks/tripleo-buildimage/run.yaml
  playbooks/tripleo-buildimage/vars/common.yaml
  playbooks/tripleo-ci/run.yaml
  roles/build-containers/tasks/main.yaml
  roles/tripleo-repos/README.rst
  scripts/bighammer.sh
  scripts/deploy-server.sh
  scripts/mirror-server/mirror-server.pp
  scripts/prepare-ovb-cloud.sh
  scripts/proxy-server/proxy-server.pp
  scripts/te-broker/create-env
  scripts/te-broker/te-broker.pp
  scripts/tripleo.sh
  scripts/website/generate_site.sh
  setup.cfg
  toci-quickstart/config/testenv/multinode.yml
  toci-quickstart/config/testenv/ovb.yml
  toci_gate_test.sh
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq-container, tripleo-ci-centos-7-scenario012-multinode-oooq-container, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add basic periodic jobs to TripleO
  zuul.d/layout.yaml
  zuul.d/periodic.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Allow to override kolla-build rpm config
  roles/build-containers/defaults/main.yaml
  roles/build-containers/tasks/pre.yaml
  roles/build-containers/templates/kolla-build.conf.j2
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Create new container build jobs for stein
  zuul.d/build-containers.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

update openstack.org -> opendev.org
  scripts/bootstrap-overcloud-full-minimal.sh
  scripts/bootstrap-overcloud-full.sh
  scripts/common_functions.sh
  scripts/compare-reviews.py
  scripts/tripleo-jobs-gerrit.py
  scripts/tripleo.sh
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Make scenario00{1,4} non-voting
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

remove old common_functions script
  scripts/common_functions.sh
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Avoid annoying pip warnings
  tox.ini
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35

Enable ansible-role-collect-logs role in TOCI
  roles/run-test/templates/toci_gate_test.sh.j2
  zuul.d/base.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Port tripleo-ci-centos-7-scenario001-standalone to os_tempest
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Revert "Make scenario00{1,4} non-voting"
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Port scenario002-standalone-master to os_tempest
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Switch scenario003-standalone job to use os_tempest
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Port scenario004-standalone-master to os_tempest
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Port standalone job to os_tempest
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Allow to change registry port in container-build
  roles/build-containers/defaults/main.yaml
  roles/build-containers/tasks/pre.yaml
  roles/build-containers/templates/docker-playbook.yaml.j2
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Revert "Port standalone job to os_tempest"
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Do not run reset_connection meta with buildah
  roles/build-containers/tasks/pre.yaml
  roles/build-containers/tasks/reset_connection.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Capture /var/log/setup-ipa-client-ansible.log
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add tripleo-ci-centos-7-standalone-upgrade-stein as voting
  zuul.d/multinode-jobs.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Unskip tempest.api.compute.security_groups.test_security_groups
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Add new base-standalone-upgrade for use in periodic
  zuul.d/base.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

collect standalone deployment config
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

build containers: multiple platfrom support
  playbooks/tripleo-buildcontainers/pre.yaml
  roles/build-containers/defaults/main.yaml
  roles/build-containers/tasks/main.yaml
  roles/build-containers/tasks/pre.yaml
  roles/build-containers/templates/build.sh.j2
  roles/build-containers/templates/kolla-build.conf.j2
  zuul.d/base.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Grab cloud-init logs
  toci-quickstart/config/collect-logs.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Revert "remove old common_functions script"
  scripts/common_functions.sh
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Use updated path for browbeat in quickstart-extras-requirements
  roles/run-test/templates/toci_gate_test.sh.j2
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Fetch images from images.rdoproject.org by default
  toci-quickstart/config/testenv/ovb.yml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Make octavia standalone job voting (scenario 10)
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Update standalone master and rocky
  zuul.d/multinode-jobs.yaml
  zuul.d/standalone-jobs.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Add another nodepool provider ID
  roles/common/vars/main.yaml
  roles/run-test/templates/toci_gate_test.sh.j2
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Put tempest_test_image_path var under featureset override
  roles/run-test/tasks/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Setting required vars for python 3 - rhel 8 jobs
  roles/run-test/templates/toci_gate_test.sh.j2
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Add internal cloud in case of OVB only
  roles/common/vars/main.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Install os_tempest deps from master
  zuul.d/base.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Avoid tox failure on systems where python3 points to python3.4
  tox.ini
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35

Retiring TripleO-UI
  scripts/tripleo-jobs-gerrit.py
  scripts/tripleo.sh
  scripts/website/tripleo-reviewday.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Remove system ansible after it's use is over
  roles/build-containers/tasks/pre.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade

Adds tripleo-repos molecule test job
  roles/tripleo-repos/molecule/Dockerfile.j2
  roles/tripleo-repos/molecule/default/molecule.yml
  roles/tripleo-repos/molecule/default/playbook.yml
  tests/test_molecule.py
  tox.ini
  zuul.d/layout.yaml
Due: tripleo-buildimage-ironic-python-agent-centos-7, tripleo-buildimage-overcloud-full-centos-7, tripleo-buildimage-overcloud-hardened-full-centos-7, openstack-tox-py27, openstack-tox-py35, tripleo-ci-centos-7-standalone, tripleo-ci-fedora-28-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Path conditions:
  tripleo-buildimage-ironic-python-agent-centos-7: (unless all of: ^.*\.rst$, ^releasenotes/.*$) or (any of: ^playbooks/tripleo-buildimage/.*$)
  tripleo-buildimage-overcloud-full-centos-7: (unless all of: ^.*\.rst$, ^releasenotes/.*$) or (any of: ^playbooks/tripleo-buildimage/.*$)
  tripleo-buildimage-overcloud-hardened-full-centos-7: (unless all of: ^.*\.rst$, ^releasenotes/.*$) or (any of: ^playbooks/tripleo-buildimage/.*$)
  openstack-tox-py27: (any of: ^bindep.txt$, ^requirements.txt$, ^scripts/emit_releases_file/.*$, ^setup.cfg$, ^setup.py$, ^tox.ini$) or (any of: ^scripts/emit_releases_file/.*$)
  openstack-tox-py35: (any of: ^bindep.txt$, ^requirements.txt$, ^scripts/emit_releases_file/.*$, ^setup.cfg$, ^setup.py$, ^tox.ini$) or (any of: ^scripts/emit_releases_file/.*$)
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario009-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  tripleo-ci-centos-7-scenario012-multinode-oooq-container: any of: ^playbooks/tripleo-ci/.*$
  openstack-tox-pep8: any of: ^scripts/emit_releases_file/.*$
  tripleo-ci-centos-7-standalone: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-fedora-28-standalone: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-centos-7-standalone-upgrade: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini
  tripleo-ci-centos-7-scenario001-standalone: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, workbooks/ceph-ansible.yaml, tripleo_common/actions/ansible.py, ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*ceph.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*logging.*$, ^(docker|puppet)/services/.*metrics.*$, ^(docker|puppet)/services/.*monitoring.*$, ^(docker|puppet)/services/.*panko.*$, ci/environments/scenario001-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/logging.*$, ^manifests/profile/(base|pacemaker)/metrics.*$, ^manifests/profile/(base|pacemaker)/monitoring.*$, ^manifests/profile/(base|pacemaker)/panko.*$, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario002-standalone: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, workbooks/ceph-ansible.yaml, tripleo_common/actions/ansible.py, ^(docker|puppet)/services/.*aodh.*$, ^(docker|puppet)/services/.*barbican.*$, ^(docker|puppet)/services/.*ceilometer.*$, ^(docker|puppet)/services/.*cinder.*$, ^(docker|puppet)/services/.*ec2-api.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*gnocchi.*$, ^(docker|puppet)/services/.*panko.*$, ^(docker|puppet)/services/.*swift.*$, ^(docker|puppet)/services/.*zaqar.*$, ci/environments/scenario002-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/barbican.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/nova/ec2.*$, ^manifests/profile/(base|pacemaker)/panko.*$, ^manifests/profile/(base|pacemaker)/swift.*$, ^manifests/profile/(base|pacemaker)/zaqar.*$
  tripleo-ci-centos-7-scenario003-standalone: any of: ^container-images/.*$, tripleo_common/image/kolla_builder.py, ^(docker|puppet)/services/.*designate.*$, ^(docker|puppet)/services/.*glance.*$, ^(docker|puppet)/services/.*mistral.*$, ^(docker|puppet)/services/.*sahara.*$, ci/environments/scenario003-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/mistral.*$, ^manifests/profile/(base|pacemaker)/sahara.*$, ^manifests/profile/(base|pacemaker)/designate.*$
  tripleo-ci-centos-7-scenario004-standalone: any of: workbooks/ceph-ansible.yaml, ^container-images/.*$, tripleo_common/actions/ansible.py, tripleo_common/image/kolla_builder.py, zuul.d/layout.yaml, ^docker/services/ceph.*$, ^docker/services/glance.*$, ^docker/services/manila.*$, ci/environments/scenario004-standalone.yaml, ^environments\/.*.yaml, ^deployed-server/.*$, ^network/endpoints/.*$, ^common/.*$, zuul.d/*, config/general_config/featureset052.yml, ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/manila.*$
